flows/Create_Test_Case_Execution_Test_Step_Execution.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Insert the relevant documents for the defects that are created</description>
        <name>Insert_Defect_Documents</name>
        <label>Insert Defect Documents</label>
        <locationX>166</locationX>
        <locationY>753</locationY>
        <actionName>AP_InsertDefectDocument</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>test_screen1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentDocID</name>
            <value>
                <elementReference>var_ConDocIdCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>defectedRecords</name>
            <value>
                <elementReference>attachments_Defects</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Testing</name>
        <label>Testing</label>
        <locationX>743</locationX>
        <locationY>756</locationY>
        <actionName>AP_CreateTestCaseExecution</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_Defected_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>def</name>
            <value>
                <elementReference>Defect_RecordCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tse</name>
            <value>
                <elementReference>Get_Defected_TSE_Records</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Def_FinalCollection</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_ConDocId_Collection</name>
        <label>Assign ConDocId Collection</label>
        <locationX>1663</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>var_ConDocIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocId_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Test_Step_to_Test_Step_Execution_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign defect info entered through screen into a record</description>
        <name>Assign_Defect_Record</name>
        <label>Assign Defect Record</label>
        <locationX>1836</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>Defect_Record.DetectedEnvironment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Defected_Environment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Defect_Record.DetectionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Detection_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Defect_Record.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Defect_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Defect_Record.Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Severity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Defect_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_Defect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Defect_Record.ShortDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Defect_Record.Test_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Test_Step_Record_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Defect_Record.ActualResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Result_TSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Defect_Record.StepToReproduce__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Detailed_Steps_to_Reproduce</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Defect_Record.ExpectedResult__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Test_Step_Record_Collection.Expected_Result__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Defect_Record_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Defect Record to Collection variable</description>
        <name>Assign_Defect_Record_to_Collection</name>
        <label>Assign Defect Record to Collection</label>
        <locationX>1644</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>Defect_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Defect_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_which_button_clicked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_collection_to_break_loop</name>
        <label>Assign empty collection to break loop</label>
        <locationX>1401</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>TestStep_RecordCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestStep_EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Test_Step_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_empty_collection_to_break_loop_0</name>
        <label>Assign empty collection to break loop</label>
        <locationX>2054</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>TestStep_RecordCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestStep_EmptyCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Test_Step_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Passed_TSE_to_Record_Collection</name>
        <label>Assign Passed TSE to Record Collection</label>
        <locationX>1907</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>passed_TSERecCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TestStepExecution_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Test_Step_Execution_Records_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Test_Case_Execution_Id</name>
        <label>Assign Test Case Execution Id</label>
        <locationX>1127</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Test_Step_Execution_Collection.Test_Case_Execution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tce_recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TSE_with_TCEId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Test_Case_Execution_to_Blocked</name>
        <label>Assign Test Case Execution to Blocked</label>
        <locationX>1911</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Blocked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Test_Step_Execution_Records_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Test Case to create Test Case Execution</description>
        <name>Assign_Test_Case_to_Test_Case_Execution</name>
        <label>Assign Test Case to Test Case Execution</label>
        <locationX>1108</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Capability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Case_Record.Capability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Case_Record.Release__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Test_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Test_Scenario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Case_Record.Test_Scenario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Case_Record.User_Story__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Case_Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Data_Input__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Case_Record.Data_Input__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Data_Output__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Case_Record.Data_Output__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Case_Record.Status_ExecutingTestStep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Test_Case_Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Date_Tested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Test_Step_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Test Step Execution Records to Collection variable</description>
        <name>Assign_Test_Step_Execution_Records_to_Collection</name>
        <label>Assign Test Step Execution Records to Collection</label>
        <locationX>2103</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>TestStepExecution_RecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TestStepExecution_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_which_button_clicked_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Test Step to Test Step Execution Record variable</description>
        <name>Assign_Test_Step_to_Test_Step_Execution_Record</name>
        <label>Assign Test Step to Test Step Execution Record</label>
        <locationX>1762</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>TestStepExecution_Record.Test_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tse_recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestStepExecution_Record.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Test_Step_Record_Collection.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestStepExecution_Record.Actual_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Actual_Result_TSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestStepExecution_Record.Status_TSE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist_Status_Tse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestStepExecution_Record.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Test_Step_Record_Collection.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestStepExecution_Record.Expected_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Test_Step_Record_Collection.Expected_Result__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Test_Step_Execution_is_passed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TSE_recordId</name>
        <label>Assign TSE recordId</label>
        <locationX>1456</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>tse_recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Test_Step_Record_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_Step_Execution_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Find_Count_of_Record_Collection</name>
        <label>Find Count of Record Collection</label>
        <locationX>1335</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>NumberOfTSE_Passed</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>passed_TSERecCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalNumberOfTSE</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TestStepExecution_RecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Percentage_of_TSE_Passed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Find_Percentage_of_TSE_Passed</name>
        <label>Find Percentage of TSE Passed</label>
        <locationX>1220</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercentageOf_TSE_Passed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completion_Status_Based_on_TSE_Pass_Percent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TSE_with_TCEId</name>
        <label>TSE with TCE Id</label>
        <locationX>1430</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>TSE_with_TCE_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Test_Step_Execution_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Test_Step_Execution_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X0_25X</name>
        <label>0% - 25%</label>
        <locationX>979</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Completion_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>😑</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test_Case_Execution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X100X</name>
        <label>100%</label>
        <locationX>1030</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Completion_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>🤩</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test_Case_Execution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X25_50X</name>
        <label>25% - 50%</label>
        <locationX>877</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Completion_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>😐</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test_Case_Execution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X50_75X</name>
        <label>50% - 75%</label>
        <locationX>849</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Completion_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>🙂</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test_Case_Execution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X75_100X</name>
        <label>75% - 100%</label>
        <locationX>919</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Completion_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>😀</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test_Case_Execution</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>zero</name>
        <label>0%</label>
        <locationX>1089</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>TestCaseExecution_Record.Completion_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>😓</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test_Case_Execution</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Defected_Record</name>
        <label>Check for Defected Record</label>
        <locationX>629</locationX>
        <locationY>757</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Def_FinalCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>test_screen1_0</targetReference>
            </connector>
            <label>Record Not Found</label>
        </rules>
        <rules>
            <name>Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Def_FinalCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Defect_Record</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_conDocID_Collection_is_empty</name>
        <label>Check if conDocID Collection is empty</label>
        <locationX>245</locationX>
        <locationY>756</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ConDocIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>test_screen1_0_0</targetReference>
            </connector>
            <label>Null</label>
        </rules>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ConDocIdCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Defect_Documents</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if test step records are returned</description>
        <name>Check_if_records_are_returned</name>
        <label>Check if records are returned</label>
        <locationX>1266</locationX>
        <locationY>23</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TS_Records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestStep_RecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Test_Step_Record_Collection</targetReference>
            </connector>
            <label>Records found</label>
        </rules>
        <rules>
            <name>Records_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestStep_RecordCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Step_Records_Not_Found</targetReference>
            </connector>
            <label>Records not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Test_Step_Execution_is_passed</name>
        <label>Check if Test Step Execution is passed</label>
        <locationX>1898</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Assign_Test_Step_Execution_Records_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TSE_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestStepExecution_Record.Status_TSE__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Passed_TSE_to_Record_Collection</targetReference>
            </connector>
            <label>TSE Passed</label>
        </rules>
        <rules>
            <name>TSE_Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Block_Test_Step_Execution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Test_Case_Execution_to_Blocked</targetReference>
            </connector>
            <label>TSE Blocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_which_button_clicked</name>
        <label>Check which button clicked</label>
        <locationX>1540</locationX>
        <locationY>602</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_Flow</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>buttonClick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ButtonNext1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customButtonClick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ButtonNext1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>customButtonClick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ButtonNext2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_collection_to_break_loop</targetReference>
            </connector>
            <label>Cancel Flow</label>
        </rules>
        <rules>
            <name>Continue_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonClick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ButtonNext2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Test_Step_Record_Collection</targetReference>
            </connector>
            <label>Continue Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_which_button_clicked_0</name>
        <label>Check which button clicked</label>
        <locationX>2216</locationX>
        <locationY>184</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_Flow_With_Defect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customButtonClick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ButtonNext1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Defect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Defect</targetReference>
            </connector>
            <label>Cancel Flow With Defect</label>
        </rules>
        <rules>
            <name>Cancel_Flow_Without_Defect</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>customButtonClick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ButtonNext1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Defect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Defect</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status_TestStepExecution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Yet Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_empty_collection_to_break_loop_0</targetReference>
            </connector>
            <label>Cancel Flow Without Defect</label>
        </rules>
        <rules>
            <name>Continue_Flow_With_Defect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customButtonClick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ButtonNext2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Defect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Defect</targetReference>
            </connector>
            <label>Continue Flow With Defect</label>
        </rules>
        <rules>
            <name>Continue_Flow_Without_Defect</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>customButtonClick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ButtonNext2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Defect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Defect</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status_TestStepExecution</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Yet Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Test_Step_Record_Collection</targetReference>
            </connector>
            <label>Continue Flow Without Defect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completion_Status_Based_on_TSE_Pass_Percent</name>
        <label>Completion Status Based on TSE Pass Percent</label>
        <locationX>1085</locationX>
        <locationY>456</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>zero</targetReference>
            </connector>
            <label>0%</label>
        </rules>
        <rules>
            <name>X0_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X0_25X</targetReference>
            </connector>
            <label>0% - 25%</label>
        </rules>
        <rules>
            <name>X25_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X25_50X</targetReference>
            </connector>
            <label>25% - 50%</label>
        </rules>
        <rules>
            <name>X50_75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X50_75X</targetReference>
            </connector>
            <label>50% - 75%</label>
        </rules>
        <rules>
            <name>X75_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X75_100X</targetReference>
            </connector>
            <label>75% - 100%</label>
        </rules>
        <rules>
            <name>X100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestCaseExecution_Record.Test_Step_Executions_Passed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X100X</targetReference>
            </connector>
            <label>100%</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Defected_Environment_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DetectedEnvironment__c</picklistField>
        <picklistObject>Project_Defect__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklist_Status_Tse</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status_TSE__c</picklistField>
        <picklistObject>Test_Step_Execution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Severity_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Severity__c</picklistField>
        <picklistObject>Project_Defect__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>status_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Project_Defect__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status_Picklist_TSE</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Test_Step_Execution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Project_Defect__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>PercentageOf_TSE_Passed</name>
        <dataType>Number</dataType>
        <expression>(({!NumberOfTSE_Passed}/{!TotalNumberOfTSE})*100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Test Case Execution &amp; Test Step Execution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Test Case Execution &amp; Test Step Execution</label>
    <loops>
        <name>Loop_Through_Test_Step_Execution_Collection</name>
        <label>Loop Through Test Step Execution Collection</label>
        <locationX>1132</locationX>
        <locationY>727</locationY>
        <collectionReference>TestStepExecution_RecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Test_Case_Execution_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_TSE_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Test_Step_Record_Collection</name>
        <label>Loop through Test Step Record Collection</label>
        <locationX>1361</locationX>
        <locationY>191</locationY>
        <collectionReference>TestStep_RecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_TSE_recordId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Count_of_Record_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Defect_Record</name>
        <label>Create Defect Record</label>
        <locationX>442</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Defect_Record</targetReference>
        </connector>
        <inputReference>Def_FinalCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Test_Case_Execution</name>
        <label>Create Test Case Execution</label>
        <locationX>1240</locationX>
        <locationY>590</locationY>
        <connector>
            <targetReference>Get_Test_Case_Execution_Record</targetReference>
        </connector>
        <inputReference>TestCaseExecution_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_TSE_Records</name>
        <label>Create TSE Records</label>
        <locationX>975</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>Get_Defected_TSE_Records</targetReference>
        </connector>
        <inputReference>TSE_with_TCE_Id</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Defect_Record</name>
        <label>Get Defect Record</label>
        <locationX>339</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_conDocID_Collection_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Test_Case_Execution_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tce_recordId</elementReference>
            </value>
        </filters>
        <object>Project_Defect__c</object>
        <outputReference>attachments_Defects</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Test_Case_Execution_Id__c</queriedFields>
        <queriedFields>Test_Step__c</queriedFields>
        <queriedFields>Test_Step_Execution_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Defected_TSE_Records</name>
        <label>Get Defected TSE Records</label>
        <locationX>851</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Testing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_TSE__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Test_Case_Execution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>tce_recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Test_Step_Execution__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Test_Step__c</queriedFields>
        <queriedFields>Test_Case_Execution__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Test_Case_Execution_Record</name>
        <label>Get Test Case Execution Record</label>
        <locationX>1130</locationX>
        <locationY>590</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Test_Step_Execution_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Test_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Test_Case_Record.Id</elementReference>
            </value>
        </filters>
        <object>Test_Case_Execution__c</object>
        <outputAssignments>
            <assignToReference>tce_recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get the Test Case record, on which the button action was performed</description>
        <name>Get_Test_Case_Record</name>
        <label>Get Test Case Record</label>
        <locationX>993</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Test_Case_to_Test_Case_Execution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Test Step Records based on the Test Case recordId</description>
        <name>Get_Test_Step_Records</name>
        <label>Get Test Step Records</label>
        <locationX>1213</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_records_are_returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Test_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Test_Step__c</object>
        <outputReference>TestStep_RecordCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Test_Case__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Expected_Result__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>New_Defect</name>
        <label>New Defect</label>
        <locationX>2243</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Defect_Record</targetReference>
        </connector>
        <fields>
            <name>Defected_Environment</name>
            <choiceReferences>Defected_Environment_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Defected Environment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Detection_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Detection Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Type_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Severity</name>
            <choiceReferences>Severity_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Severity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status_Defect</name>
            <choiceReferences>status_picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Detailed_Steps_to_Reproduce</name>
            <defaultValue>
                <stringValue>{!Loop_through_Test_Step_Record_Collection.Description__c}</stringValue>
            </defaultValue>
            <fieldText>Detailed Steps to Reproduce</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Short_Description</name>
            <fieldText>Short Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>customFlowFooter</name>
            <extensionName>c:CustomFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelButtonClass</name>
                <value>
                    <stringValue>slds-button_outline-brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButtonLabel</name>
                <value>
                    <stringValue>Save &amp; Cancel Execution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPreviousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLocation</name>
                <value>
                    <stringValue>middle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Continue Test Execution</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonClick</assignToReference>
                <name>buttonClick</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test_screen1</name>
        <label>Records Created Successfully</label>
        <locationX>50</locationX>
        <locationY>753</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Country</name>
            <fieldText>&lt;p&gt;Test case execution and Test Step Execution records and their respective defect records are created successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test_screen1_0</name>
        <label>Records Created Successfully</label>
        <locationX>639</locationX>
        <locationY>951</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Country_0</name>
            <fieldText>&lt;p&gt;Test case execution and Test Step Execution records are created successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test_screen1_0_0</name>
        <label>Records Created Successfully</label>
        <locationX>252</locationX>
        <locationY>903</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Country_0_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Test case execution and Test Step Execution records and their respective defect records are created successfully&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Step_Execution_Screen</name>
        <label>Test Step Execution</label>
        <locationX>1542</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_ConDocId_Collection</targetReference>
        </connector>
        <fields>
            <name>TestStep_Label</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Test Step :&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TestStep</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;{!Loop_through_Test_Step_Record_Collection.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Role_Label</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Role :&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Role</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;{!Loop_through_Test_Step_Record_Collection.Role__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_Label</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Description :&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Loop_through_Test_Step_Record_Collection.Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExpectedResult_Label</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Expected Result :&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Expected_Result</name>
            <fieldText>&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Loop_through_Test_Step_Record_Collection.Expected_Result__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_TestStepExecution</name>
            <choiceReferences>picklist_Status_Tse</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Actual_Result_TSE</name>
            <fieldText>Actual Result</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status_TestStepExecution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Failed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Block_Test_Step_Execution</name>
            <dataType>Boolean</dataType>
            <fieldText>Block Test Step Execution</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Status_TestStepExecution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Failed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Status_TestStepExecution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not Yet Executed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Defect_message</name>
            <fieldText>&lt;p&gt;If any defects faced, please check the checkbox below to create a defect.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status_TestStepExecution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Failed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_Defect</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Defect</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status_TestStepExecution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Failed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>upload_display_text</name>
            <fieldText>&lt;p&gt;Upload file incase of defect&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status_TestStepExecution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Failed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>defectFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files Here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png,.jpeg,.pdf,.doc,.csv</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Upload file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocId_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Loop_through_Test_Step_Record_Collection.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>uploadedFileName_Collection</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentDocId_Collection</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Loop_through_Test_Step_Record_Collection.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedFileName_Collection</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status_TestStepExecution</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Failed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>custom_footer</name>
            <extensionName>c:CustomFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonClick</name>
                <value>
                    <elementReference>customButtonClick</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButtonLabel</name>
                <value>
                    <stringValue>Save &amp; Cancel Execution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showNextButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cancelButtonClass</name>
                <value>
                    <stringValue>slds-button_outline-brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLocation</name>
                <value>
                    <stringValue>middle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPreviousButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCancelButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Continue Test Execution</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableNextButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableCancelButton</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>onFinalPage</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>customButtonClick</assignToReference>
                <name>buttonClick</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Step_Records_Not_Found</name>
        <label>Test Step Records Not Found</label>
        <locationX>1503</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp_TS</name>
            <fieldText>&lt;p&gt;Test Steps for this Test Case does not exists.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>867</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Test_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>attachments_Defects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Defect__c</objectType>
    </variables>
    <variables>
        <name>buttonClick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CDL_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>conDoc_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContentDocId_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customButtonClick</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Def_FinalCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Defect__c</objectType>
    </variables>
    <variables>
        <description>defect record contains defect info</description>
        <name>Defect_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Defect__c</objectType>
    </variables>
    <variables>
        <name>Defect_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Defect__c</objectType>
    </variables>
    <variables>
        <name>NumberOfTSE_Passed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>passed_TSERecCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Step_Execution__c</objectType>
    </variables>
    <variables>
        <description>record id of the current record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tce_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Test Case Execution record</description>
        <name>TestCaseExecution_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Case_Execution__c</objectType>
    </variables>
    <variables>
        <name>TestStep_EmptyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Step__c</objectType>
    </variables>
    <variables>
        <description>Stores all the records of Test Step filtered based on Test Case recordId</description>
        <name>TestStep_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Step__c</objectType>
    </variables>
    <variables>
        <name>TestStepExecution_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Step_Execution__c</objectType>
    </variables>
    <variables>
        <name>TestStepExecution_RecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Step_Execution__c</objectType>
    </variables>
    <variables>
        <name>TotalNumberOfTSE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>tse_recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TSE_with_TCE_Id</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Test_Step_Execution__c</objectType>
    </variables>
    <variables>
        <name>uploadedFileName_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ConDocIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
